# Tarea 1 - Laboratorio de Seminario de Sistemas 2

#### Edgar Josías Cán Ajquejay
#### 202112012

In [3]:
# acceso a google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [27]:
import pandas as pd

# Ruta al archivo en drive
file_path = '/content/drive/MyDrive/dataset_sucio.csv'

# Leer el archivo CSV
df = pd.read_csv(file_path)

# dataset antes de la transformacion
df.head()

,id_cliente,nombre,genero,fecha_registro,gasto_q,ciudad,categoria
0,502609,Paola Morales,m,2026-02-27,NaN,Antigua,Retail
1,500588,ANA DIAZ,f,2026-02-24,371.80,Villa Nueva,Services
2,502408,Maria Paz,m,2026-01-15,"373,33",quetzaltenango,retail
3,501688,Ana Mejia,f,2026-01-18,361.23,Quetzaltenango,Education
4,502916,Carlos Mendez,f,29/01/2026,"339,01",Amatitlan,Retail

In [29]:
# Eliminar duplicados
df = df.drop_duplicates()

# Eliminar filas si faltan datos esenciales
df = df.dropna(subset=['id_cliente', 'nombre', 'genero'])

# conversion a string, y reemplazo de comas por puntos y transformar a número
df['gasto_q'] = df['gasto_q'].astype(str).str.replace(',', '.', regex=False)
df['gasto_q'] = pd.to_numeric(df['gasto_q'], errors='coerce')

# Rellenar vacíos con 0 y redondear a 2 decimales
df['gasto_q'] = df['gasto_q'].fillna(0)
df['gasto_q'] = df['gasto_q'].round(2)

# Rellenar vacíos en texto
df['ciudad'] = df['ciudad'].fillna('Desconocido')

# Reformatear fecha al formato correcto
df['fecha_registro'] = pd.to_datetime(df['fecha_registro'], errors='coerce', format='mixed', dayfirst=True)
df['fecha_registro'] = df['fecha_registro'].dt.strftime('%Y-%m-%d')

# Estandarizacion de mayusculas y minusculas
df['nombre']    = df['nombre'].str.strip().str.title()
df['ciudad']    = df['ciudad'].str.strip().str.title()
df['categoria'] = df['categoria'].str.strip().str.lower()
df['genero']    = df['genero'].str.strip().str.lower()

df.head()

,id_cliente,nombre,genero,fecha_registro,gasto_q,ciudad,categoria
0,502609,Paola Morales,m,2026-02-27,0.00,Antigua,retail
1,500588,Ana Diaz,f,2026-02-24,371.80,Villa Nueva,services
2,502408,Maria Paz,m,2026-01-15,373.33,Quetzaltenango,retail
3,501688,Ana Mejia,f,2026-01-18,361.23,Quetzaltenango,education
4,502916,Carlos Mendez,f,2026-01-29,339.01,Amatitlan,retail

In [25]:
df.head()

,id_cliente,nombre,genero,fecha_registro,gasto_q,ciudad,categoria
0,502609,Paola Morales,m,2026-02-27,251.37,Antigua,retail
1,500588,Ana Diaz,f,2026-02-24,371.80,Villa Nueva,services
2,502408,Maria Paz,m,2026-01-15,373.33,Quetzaltenango,retail
3,501688,Ana Mejia,f,2026-01-18,361.23,Quetzaltenango,education
4,502916,Carlos Mendez,f,2026-01-29,339.01,Amatitlan,retail